<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    
    <link rel="stylesheet" href='/style.css'>
    
    <title>About Me</title>

</head> 
<body>
   
    <nav class="navbar navbar-expand-lg fixed-top">
        <div class="container">
            <a class="navbar-brand">¡CITLALLI GRIJALVA!
            </a>

            <!--toggle button-->
            <button class="navbar-toggler collapsed d-flex d-lg-none flex-column justify-content-around" type="button"  
            data-bs-toggle="collapse" 
            data-bs-target="#navmenu"
            aria-controls="navmenu"
            aria-expanded="false"
            aria-label="Toggle navigation">
               <span class="toggler-icon top-bar"></span>
               <span class="toggler-icon middle-bar"></span>
               <span class="toggler-icon bottom-bar"></span>
            </button>
 
            <!--navbar links-->
            <div class="collapse navbar-collapse justify-content-end align-self-center" id="navmenu">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a href="/index.html" class="nav-link active" data-bss-hover-animate="pulse" >Home</a>
                    </li>
                    <li class="nav-item">
                        <a href="/templates/about.html" class="nav-link" data-bss-hover-animate="pulse">About</a>
                    </li>
                    <li class="nav-item">
                        <a href="/templates/coding.html" class="nav-link" data-bss-hover-animate="pulse">Coding</a>
                    </li>

                    <li class="nav-item">
                        <a href="/templates/creative.html" class="nav-link" data-bss-hover-animate="pulse">Creative</a>
                    </li>
                   
                    <li class="nav-item">
                        <a href="/templates/contact.html" class="nav-link" data-bss-hover-animate="pulse" data>Contact</a>
                    </li> 
                    
                </ul>
            </div>
        </div>
    </nav> 

    <section class="bio">
        <div class="container-lg">

            <div class="row justify-content-center text-center">
                <div class="col">
                    <h1 class="heading" style="padding-top: 110px; padding-bottom: 9px;"> Hi, I'm Citlalli!</h1> 
                </div>
            </div>

            <div class="row justify-content-center align-items-center" style="padding-top: 0px;">
                <div class="col-md-5 justify-content-center text-center" id="biophoto" style="padding-top: 10px;" >
                    <img id="myImg" class="img-fluid" style="width: 85%;" src="/images/aboutme2.png" alt="a picture of Citlalli" />
                   <!-- <button onclick="changeImg('myImg').src='/images/mustache.png'" id="myButton">do not touch!</button>-->
                </div>
                <div class="col-xs-9 col-md-6" style="padding-top: 15px;">
                    <h2 style = "font: 40px;">
                        I'm a creator based in NYC
                    </h2>
                    <p>
                        As a current senior at Columbia University I'm majoring in Computer Science and Film.
                        Despite these two different subjects, I hope to find way integrate both of my interests in the projects I choose to take on.
                    </p>
                    <p>
                        I decided to create this website as a litle side project to learn new skills and have fun deciding color schemes. In the end I showcased my interests and
                        some of the projects that I've had to pleasure to work on. 
                    </p>
                </div>
            </div>

            <div class="row" style="padding-top:20px;">
                <div class="col text-center">
                    <p id="style">
                        Originally from Seattle, I love the water and enjoy taking the ferry. Now in NYC I find time to run in Riverside Park along the Hudson.
                    </p>

                </div>
            </div>


        </div>

    </section>

    <section class="faq">
        <div class="container">
            <div class="row justify-content-center text-center">
                <div class="col">
                    <h1 class="heading" style="padding-top: 40px;">FAQ</h1> 
                </div>
            </div>
            <div class="row justify-content-center text-center">
                <div class="col">
                    <h1 class="heading" style="padding-top: 11px;"></h1> 
                </div>
            </div> 
            <div class="accordion" style="padding-bottom: 99px;" >
                <div class="accordion-item">
                  <h2 class="accordion-header">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                      Why Computer Science and Film?
                    </button>
                  </h2>
                  <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        Like Hannah Montana I wanted to pursue the best of both worlds. After taking my first CS course I realized I liked taking the time to figure out a problem and solving it. Additionally, as a visual learner I’ve always found film interesting and wanted to learn how to compose moving visuals.  
                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                  <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                      What project should I check out?
                    </button>
                  </h2>
                  <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        For computer science I would say to look at the music database I created. We developed a miniature database that allowed users to look up artists, their songs and if they’ve won any awards for said songs. From my visual arts, check out “Found in Translation”. It’s a mini web series I created with my friend that follows the woes of a college girl’s ability to read the mind of her crushes!
                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                  <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                      What's your favorite animal?
                    </button>
                  </h2>
                  <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        Pigs!
                    </div>
                  </div>
                </div>
              </div>
        </div>
    </section>


    <section class="contact" style="background-color:#c38ab867;">
        <div class="container text-center">
            <div class="row text-center ">
                <div class="col">
                    <h3 id="style" style="padding-top: 35px; padding-bottom: 20px;">
                       ~ Contact Me ~
                    </h3>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-2">
                    <a href="https://www.linkedin.com/in/citlalli-grijalva-b85326184/" data-bss-hover-animate="pulse" data>
                        <button type="button" class="btn" id="icon-style" >
                            <span>
                                <i class="bi bi-linkedin"></i>
                            </span>
                        </button>
                    
                    </a>
                   
                </div>
                
                <div class="col-2">
                    <a href="https://www.youtube.com/channel/UCku24-m4w6GhR5-s40xrokg"  data-bss-hover-animate="pulse" data>
                        <button type="button" class="btn" id="icon-style" >
                            <span>
                                <i class="bi bi-youtube"></i>
                            </span>
                        </button>
                    
                    </a>
                    
                </div>
                
                <div class="col-2">
                    <a href="https://github.com/citlagri" data-bss-hover-animate="pulse" data>
                        <button type="button" class="btn" id="icon-style" >
                            <span>
                                <i class="bi bi-github"></i>
                            </span>
                        </button>
                    
                    </a>
                    
                </div>
            </div>

            <div class="row justify-content-center" style="padding-top: 15px; padding-bottom: 25px;">
                <div class="col" id="style">
                    © 2023 Citlalli Grijalva
                </div>
            </div>
            
        </div>
    </section>

    
    

</body>
</html>   